<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/index_page.css">
    <title>Index Page</title>
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
    <button class="top-right-button"><a href="/login">Login/Sign Up</a></button>
    <h1 class="logo"><a href=""><img src='../static/media/pictures/beyond-infinity-high-resolution-logo-transparent (1).png'></a></h1><br><br>
    <button class="create"><a href="/login">Get Started  <i class="fa fa-plus-circle"></i></a></button>
    <hr width="80%" size="2" >
    <div class="container intro">
        <div class="description">
            <h2><i class="fa fa-question-circle fa-2x"></i><br>How to use the slideshow maker?</h2>
        </div>
        
        <!-- <p>
            1. Upload your photos and videos to the slideshow maker.<br>
            2. Add music to your slideshow. Choose the transition style for your slideshow.<br>
            3. Save your slideshow for viewing or showing to others.<br>
        </p>   -->
        <div style="width:100vh;"><br>
        <div class="appLandingHowToStep unfolded"><div class="appLandingHowToStep__stepColumn"><div class="appLandingHowToStep__stepLabel">Step </div><div class="appLandingHowToStep__stepNumber">1</div></div><div class="appLandingHowToStep__stepTitle">Add files</div><div class="appLandingHowToStep__stepText"><span >Select the necessary photos from your device. Multiple files can be uploaded at once.</span></div></div><br>
        <div class="appLandingHowToStep unfolded"><div class="appLandingHowToStep__stepColumn"><div class="appLandingHowToStep__stepLabel">Step </div><div class="appLandingHowToStep__stepNumber">2</div></div><div class="appLandingHowToStep__stepTitle">Make a slideshow</div><div class="appLandingHowToStep__stepText"><span >Now select the images you want, select the audio and create the slideshow.</span></div></div><br>
        <div class="appLandingHowToStep unfolded"><div class="appLandingHowToStep__stepColumn"><div class="appLandingHowToStep__stepLabel">Step </div><div class="appLandingHowToStep__stepNumber">3</div></div><div class="appLandingHowToStep__stepTitle">Download the result</div><div class="appLandingHowToStep__stepText"><span >Watch the preview and quickly go back to editing if you're not satisfied. Otherwise, you can just save the clip back to your device.</span></div></div><br>
    </div>
    </div>
    <br><br>
    <div class="container about">
        <h2>Make Slideshows online!</h2>
        <p style="font-size:large;">
            Have a lot of memorable moments captured in photos and videos?<br>Combine them together in your own slideshow to play it for friends and family on an important event.<br>Don't forget to complete it with a great song!<br>

You don't need any special editing skills because Beyond Infinity is super simple-to-use. Just select the desirable files! <br><br>
        </p>
        
    </div>
    <br><br>
    <div class="container sample">
        <h2>Samples</h2>
        <p>
            Here is an example of a slideshow that we have created for our customer.
        </p>
        <video width="640" height="480" controls>
            <source src="../static/media/videos/Washing Machine.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video><br>
        
    </div>
    <br><br>
    <div class="contain">
    <h2>Developers</h2>
    <div class="developers">
        <figure>
            <img class="developer-image" src="../static/media/pictures/My_Picture.jpeg" alt="Hardik Chadha">
            <figcaption class="developer-info">
                Hardik Chadha<br>
                <div class="social-icons">
                    <a target="_blank" href="mailto:hardik.chadha@research.iiit.ac.in"><i style="color:red;" class="fa fa-envelope"></i></a>
                    <a target="_blank" href="https://github.com/Hardik1106"><i style="color:white;" class="fa fa-github"></i></a>
                    <a target="_blank" href="https://www.linkedin.com/in/hardik-chadha-876338266/"><i style="color:blue;" class="fa fa-linkedin-square"></i></a>
                </div>
            </figcaption>
        </figure>
        <figure>
            <img class="developer-image" src="../static/media/pictures/arnav_pic.jpg" alt="Arnav Sharma">
            <figcaption class="developer-info">
                Arnav Sharma<br>
                <div class="social-icons">
                    <a target="_blank" href="mailto:arnav.sharma@research.iiit.ac.in"><i style="color:red;" class="fa fa-envelope"></i></a>
                    <a target="_blank" href="https://github.com/iamarnav08"><i style="color:white;" class="fa fa-github"></i></a>
                    <a target="_blank" href="http://www.linkedin.com/in/arnav-sharma-584841284/fr"><i style="color:blue;" class="fa fa-linkedin-square"></i></a>
                </div>
            </figcaption>
        </figure>
        <figure>
            <img class="developer-image" src="..\static\media\pictures\WhatsApp Image 2024-02-06 at 15.40.55.png" alt="Sudheera Y.S.">
            <figcaption class="developer-info">
                Sudheera Y S<br>
                <div class="social-icons">
                    <a target="_blank" href="mailto:sudheerays@gmail.com"><i style="color:red;" class="fa fa-envelope"></i></a>
                    <a target="_blank" href="https://github.com/DheeruYS"><i style="color:white;" class="fa fa-github"></i></a>
                    <a target="_blank" href="https://www.linkedin.com/in/sudheerays/"><i style="color:blue;" class="fa fa-linkedin-square"></i></a>
                </div>
            </figcaption>
        </figure>
    </div>
</body>
</html>
